h2{
    color: orange;
}
button{
    background-color: blue;
    color: white;

}
p{
    background-color: black;
    color: white;
}
div{
    font-family: League spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double teal underline;
    text-transform: uppercase;
}