.pokemonDetailsImage{
max-height: 200px;
margin-top: 2rem;
}
.pokemonDetailsName{
    font-size: xx-large;
    color: black;

    margin-top: 1rem;
    letter-spacing: 1rem;
}
.pokemonDetailsHeight{

}
.pokemonDetailsWeight{

}
.pokemonDetailsTypes{
display: flex;
gap: 3rem;
margin-top: 2rem;
font-size: larger;
}

.pokemonDetailsTypes>div{
    border: 1px solid gainsboro;
    padding: 1rem;
    border-radius: 15px;
    background-color: gainsboro;
}

.pokemonDetailsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}