 .box{
height: 100px;
width: 300px;
background-color: blue;
animation-name: fontAnimation;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-delay: .6s;
/* animation-iteration-count: infinite; */
animation-direction:reverse ;
 }
 @keyframes fontAnimation {
    from {font-size: 20px;;}
    to {font-size:40px;}
 }
 @keyframes color {
    0% {color: red ;}
    50% {color: white;}
    100%{
      color: blue;
    }
 }

 @keyframes multiple{
   from{
      width: 10px;
      background-color: blue;

   }
   to {
      background-color: red;
      border-radius: 50px;
      width: 400px;
   }
 }