.card{
    border:1px solid black;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px ;
    height:120px ;
    border-radius: 10px;
    background-color: var(--yellow);
}