*{
    font-family: 'Courier New';
}
/* h3{
    color: purple;
} */
h1,h3{
    color: #b92b27;
}
#login{
background-color: white;

}
#signup{
background-color: #b92b27;
color: white;
}
.upvote{
    background-color: green;
    color: white;
    p a{
        color: purple;
        background-color: yellow;
    }
    nav ul li a {
        color:"purple"
    }
    /* adjacent sibling */
p+h3{
    /* all h3 just after p at same level */
    text-decoration: underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color: white;
}
/* child combinstor */
div>input{background-color: darksalmon;}

}

input[type]{
    background-color: ghostwhite;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
/* pseudo class */

h3:hover{
    
    text-decoration: none;
}

button:active{
    background-color: palevioletred;
}
p:active{
font-weight: bold;
color: green;

}
input[type="radio"]:checked + label {
color: red;
font-weight: bold;
}
.post:nth-of-type(2n){ /* every second*/
    font-weight: 500;
}
/* important */
h3{
    background-color: antiquewhite !important ;
}