body{
    margin: 0;overflow: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5em;
}
.sideBar{
    border-radius: 1rem;  /* 1rem=16px */
       margin-right: 0.5rem;
    width: 335px;
    background-color:black;
}
.mainContent{
    padding:  0 1.5rem 0 1.5rem;
    border-radius: 1rem;  /* 1rem=16px */
overflow: auto;
    background-color: #121212;
    flex:1;
 
}
.musicPlayer{
    background-color: black;
    position:fixed;
    bottom: 0px;
    width: 100vw;
    height: 72px;

}
a{
    color: white;
    text-decoration: none;

}
.nav  {
background-color: #121212;
display: flex;
flex-direction: column;
border-radius: 1rem;
height: 100px;
padding: 0.5rem 0.75rem;
justify-content: center;
}
.navoption{
    padding: 0.4rem 0.76rem;
line-height: 2.5rem;
opacity: 0.68;
align-items: center;
}

.navoption i{
    
    font-size: 1.4rem;
}
.navoption a{
    margin-left: 0.5rem;
    font-size: 1.20rem;
    
}
.library{
    height: 100%;
    background-color: #121212;
    border-radius: 1rem;
margin-top: 0.6rem;
padding: 0.4rem 0.76rem;

}
.option{

    display: flex ;
justify-content: space-between;
align-items: center;
}
.liboption{
    display: flex;
    gap: 0.5rem;

}
.liboption a{
    font-size: 1.2rem;
}
.liboption img{
   height: 1.4rem;
   width: 1.4em;
}
.icon{
 
    display: flex;
gap: 1.2rem;}

.icon div{
    opacity: 0.68;
    z-index: 1;
}



.box{
background-color: #232323;
height: 8rem;
border-radius: 0.75rem;
margin: 0.75rem 0 1.75rem 0;
padding: 0.75rem 1rem;

}
.boxp1{
font-size: 1rem;
font-weight: 500;
}
.boxp2{
    font-size: 0.855rem;
    opacity: 0.9;

}
.badge{
    background-color: white;
border: none;
border-radius: 100px;
padding: 0.25rem 1rem;
font-weight: 700;
margin-top: 0.5rem;
height: 2rem;
width: fit-content;
}

.stickyNav{
    position:sticky;
    top:0px;
    background-color: #121212;
    display: flex;
    color: white;
justify-content: space-between;
align-items: center;
padding:1rem 0;
z-index: 1;
}
.navArrow{
    margin-left: 0.75rem;
    display: flex;
}
.navArrow img{
   
    
}
.badge2{
    gap: 0.25rem;
    color: white;
    background-color: black;
    padding: 0.25rem 1rem;
}
.navBadge{
    margin-right: 0.5rem;
    gap: 1rem;
    display:flex;
    align-items: center;
}

.cardContainer{
    display:flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.card{
background-color: #232323;
width: 150px;
padding:1rem;
border-radius: 0.5rem;

}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.title{
    font-weight: 600;

}
.info{
    font-size: 0.85rem;
    opacity: 0.785;
}

.footer{
    height: 300px;
display: flex;
align-items: center;
justify-content: center;
}
.line{
    width: 90%;
height: 35%;
border-top: 1.6px solid white;
opacity:0.4;
}


.icon div:hover{
    opacity: 1;
    
}
.navoption:hover{
    opacity:1;
}

.musicPlayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
width: 25%;
}
.player{
width: 50%;
}
.playerControl{
    gap: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.playControlIcon{
    opacity: 0.7;
    height: 1rem;

}
.playControlIcon:hover{
    opacity: 1;
}
.playBar{
display: flex;
justify-content: center;
align-items: center;
}
.progressBar{
width: 70%;
appearance: none;
background-color: transparent;
cursor: pointer;

}
.progressBar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progressBar::-webkit-slider-thumb{
appearance: none;
height: 1rem;
width: 1rem;
background-color: #18e162;
border-radius: 50%;
margin-top: -6px;
}
.currTime{

}
.tatalTime{

}
.control{
    width: 25%;
}

@media(max-width:1000px){
   .hide{        display:none
    }
}